# IMPORT LIBRARIES

In [3]:
import pandas as pd

# IMPORT DATA

In [6]:
df = pd.read_csv("raw data.csv")

In [8]:
df.head()

,Campaign_ID,Target_Audience,Campaign_Goal,Duration,Channel_Used,Conversion_Rate,Spend,ROI,Location,Language,Clicks,Impressions,Customer_Segment,Date,Company
0,578191,Women 25-34,Brand Awareness,30 Days,Twitter,"0,12","6924,23","6,96",New York,French,17993,54817,Fashion,2022-12-31 00:00:00,Chic Couture
1,737574,Men 25-34,Increase Sales,30 Days,Twitter,"0,13","5244,02","2,11",Las Vegas,French,13441,41332,Fashion,2022-03-16 00:00:00,Mode Maven
2,199313,Women 25-34,Brand Awareness,30 Days,Twitter,"0,14","4998,43","4,68",Miami,English,12767,39336,Food,2022-06-07 00:00:00,Epicurean Edge
3,163358,Women 25-34,Market Expansion,30 Days,Instagram,"0,13","6687,44","5,58",Las Vegas,English,17343,52889,Food,2022-10-04 00:00:00,Bistro Bliss
4,149567,Women 18-24,Market Expansion,60 Days,Instagram,"0,13","14346,04","6,42",Las Vegas,English,37355,112167,Fashion,2022-11-05 00:00:00,Trend Tailors

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8047 entries, 0 to 8046
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Campaign_ID       8047 non-null   int64
 1   Target_Audience   8047 non-null   object
 2   Campaign_Goal     8047 non-null   object
 3   Duration          8047 non-null   object
 4   Channel_Used      8047 non-null   object
 5   Conversion_Rate   8047 non-null   object
 6   Spend             8047 non-null   object
 7   ROI               8047 non-null   object
 8   Location          8047 non-null   object
 9   Language          8047 non-null   object
 10  Clicks            8047 non-null   int64
 11  Impressions       8047 non-null   int64
 12  Customer_Segment  8047 non-null   object
 13  Date              8047 non-null   object
 14  Company           8047 non-null   object
dtypes: int64(3), object(12)
memory usage: 943.1+ KB

# ISSUES LOG

In [81]:
# Column "Target_Audience" can be divived into 2 columns: "Gender" & "Age_Group"
# Column "Duration" only needs numbers without the string " Days"
# Column "Conversion_Rate", "Spend" & "ROI" has the symbol "," which must be changed to "."
# Column "Date" must be in DateTime data type

# DATA CLEANING

In [22]:
df[['Gender', 'Age_Group']] = df['Target_Audience'].str.split(expand = True)

In [26]:
df['Duration'].unique()

array(['30 Days', '60 Days', '45 Days', '15 Days'], dtype=object)

In [64]:
df['Duration'] = df['Duration'].str[0:2].astype(int)

In [68]:
df['Conversion_Rate'] = df['Conversion_Rate'].str.replace(",", ".").astype(float)
df['Spend'] = df['Spend'].str.replace(",", ".").astype(float)
df['ROI'] = df['ROI'].str.replace(",", ".").astype(float)

In [76]:
df['Date'] = pd.to_datetime(df['Date'])

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8047 entries, 0 to 8046
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Campaign_ID       8047 non-null   int64
 1   Target_Audience   8047 non-null   object
 2   Campaign_Goal     8047 non-null   object
 3   Duration          8047 non-null   int32
 4   Channel_Used      8047 non-null   object
 5   Conversion_Rate   8047 non-null   float64
 6   Spend             8047 non-null   float64
 7   ROI               8047 non-null   float64
 8   Location          8047 non-null   object
 9   Language          8047 non-null   object
 10  Clicks            8047 non-null   int64
 11  Impressions       8047 non-null   int64
 12  Customer_Segment  8047 non-null   object
 13  Date              8047 non-null   datetime64[ns]
 14  Company           8047 non-null   object
 15  Gender            8047 non-null   object
 16  Age_Group         8047 non-null   object
dtypes: datetime64[ns](1), float64(3), int32(1), int64(3), object(9)
memory usage: 1.0+ MB

In [90]:
final_output = df.drop(columns = ['Target_Audience'])

In [94]:
final_output.to_csv("clean_data.csv")